div {
    /* margin: 0 auto; */
    /* display: inline-block; */
    font-family: "Times New Roman", Times, serif;
}


html {
    text-align: center;
}

body {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}



h1 {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}